In [23]:
import pandas as pd
import rdflib
import numpy

df = pd.read_csv('dataset/raw.csv.gz', dialect='excel', keep_default_na=False, dtype=str, index_col=0)

DESDE = 1000
HASTA = 1100
subset_df = df.iloc[DESDE:HASTA]


contador = 0
for i in range(DESDE, HASTA):
    if(len(df.loc[i].dup_candidates.split())<2):contador+=1

print(contador)

40

In [5]:
df.loc[1003].dup_candidates

'1003 7968'

In [26]:
# inicializo la lista con cadenas vacias que significa que aun no se reviso
revised = ['']*200

OFFSET =1000 # para que el indice de la lista sea el mismo que el del dataframe
for i in range(0,199):
    if(len(df.loc[i+OFFSET].dup_candidates.split())<2):
        revised[i] = df.loc[i+OFFSET].dup_candidates
    else:
        print("revised["+str(i)+"]=")

revised[3]=
revised[4]=
revised[6]=
revised[7]=
revised[9]=
revised[11]=
revised[13]=
revised[14]=
revised[15]=
revised[16]=
revised[17]=
revised[18]=
revised[20]=
revised[21]=
revised[23]=
revised[25]=
revised[26]=
revised[27]=
revised[29]=
revised[30]=
revised[31]=
revised[32]=
revised[33]=
revised[35]=
revised[36]=
revised[39]=
revised[40]=
revised[42]=
revised[43]=
revised[45]=
revised[46]=
revised[53]=
revised[54]=
revised[55]=
revised[56]=
revised[59]=
revised[60]=
revised[61]=
revised[62]=
revised[63]=
revised[66]=
revised[67]=
revised[70]=
revised[71]=
revised[73]=
revised[75]=
revised[76]=
revised[80]=
revised[81]=
revised[82]=
revised[86]=
revised[87]=
revised[88]=
revised[89]=
revised[92]=
revised[93]=
revised[95]=
revised[96]=
revised[97]=
revised[98]=
revised[100]=
revised[101]=
revised[102]=
revised[103]=
revised[104]=
revised[105]=
revised[106]=
revised[107]=
revised[109]=
revised[111]=
revised[112]=
revised[114]=
revised[115]=
revised[116]=
revised[117]=
revised[118]=
revised[119]=
revised[120]=
revised[122]=
revised[123]=
revised[125]=
revised[126]=
revised[127]=
revised[131]=
revised[132]=
revised[135]=
revised[136]=
revised[137]=
revised[138]=
revised[139]=
revised[140]=
revised[143]=
revised[144]=
revised[145]=
revised[146]=
revised[148]=
revised[149]=
revised[151]=
revised[152]=
revised[153]=
revised[154]=
revised[155]=
revised[156]=
revised[157]=
revised[158]=
revised[159]=
revised[162]=
revised[163]=
revised[164]=
revised[165]=
revised[166]=
revised[167]=
revised[168]=
revised[169]=
revised[170]=
revised[174]=
revised[175]=
revised[176]=
revised[180]=
revised[181]=
revised[182]=
revised[183]=
revised[186]=
revised[187]=
revised[192]=
revised[193]=
revised[194]=
revised[195]=
revised[196]=

In [67]:
candidates = [int(x) for x in df.iloc[OFFSET + 46].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices

,_validation,address,advertiser_id,advertiser_name,age,bath_amnt,bed_amnt,bed_ratio,covered_ratio,covered_surface,...,toilet_amnt,total_ratio,total_surface,total_surface_unit,transaction,uncovered_surface,uncovered_surface_unit,url,year_built,dup_candidates
1046,,Bernardino Rivadavia 1090 av,242284570,Jorge Selvaggio,60.0,2,3,40000.0,800.0,150,...,,597.0149253731344,201,m²,Venta,,,https://api.mercadolibre.com/items/MLA1393641045,1964,1046 374667 610987
374667,,"Bernardino Rivadavia 1090 av, Avellaneda, Buen...",30002961,Selvaggio Propiedades,60.0,2,3,40000.0,800.0,150.0,...,,597.0149253731344,201.0,m²,Venta,,,https://www.zonaprop.com.ar/propiedades/clasif...,1964,1046 374667 610987
610987,,,200336,,60.0,2,3,40000.0,800.0,150.0,...,,597.0149253731344,201.0,m²,Venta,51.0,m²,https://www.argenprop.com/casa-en-venta-en-pin...,1964,1046 374667 610987

In [ ]:
# completado manual Vicky
revised[3]= df.iloc[OFFSET + 3].dup_candidates  # confirmamos que esta duplicado



revised[4]=  df.iloc[OFFSET + 4].dup_candidates # confirmamos que esta duplicado
revised[6]= "1006 2091" # el 3552 no es duplicado, es un dpto mas chico 
revised[7]= df.iloc[OFFSET + 7].dup_candidates
revised[9]= df.iloc[OFFSET + 9].dup_candidates
revised[11]= df.iloc[OFFSET + 11].dup_candidates
revised[13]= df.iloc[OFFSET + 13].dup_candidates 
revised[14]= df.iloc[OFFSET + 14].dup_candidates  
revised[15]= df.iloc[OFFSET + 15].dup_candidates  
revised[16]= df.iloc[OFFSET + 16].dup_candidates  
revised[17]= df.iloc[OFFSET + 17].dup_candidates 
revised[18]= df.iloc[OFFSET + 18].dup_candidates
revised[20]= df.iloc[OFFSET + 20].dup_candidates
revised[21]= df.iloc[OFFSET + 21].dup_candidates
revised[23]= df.iloc[OFFSET + 23].dup_candidates
revised[25]= df.iloc[OFFSET + 25].dup_candidates
revised[26]= "1026 610908 612614" # el age es sustancialmente diferente para los casos que se quitaron
revised[27]= df.iloc[OFFSET + 27].dup_candidates
revised[29]= df.iloc[OFFSET + 29].dup_candidates
revised[30]= df.iloc[OFFSET + 30].dup_candidates
revised[31]= df.iloc[OFFSET + 31].dup_candidates
revised[32]= df.iloc[OFFSET + 32].dup_candidates
revised[33]= df.iloc[OFFSET + 33].dup_candidates
revised[35]= df.iloc[OFFSET + 35].dup_candidates
revised[36]= df.iloc[OFFSET + 36].dup_candidates
revised[39]= df.iloc[OFFSET + 39].dup_candidates
revised[40]= df.iloc[OFFSET + 40].dup_candidates
revised[42]= df.iloc[OFFSET + 42].dup_candidates
revised[43]= df.iloc[OFFSET + 43].dup_candidates   
revised[45]= df.iloc[OFFSET + 45].dup_candidates
revised[46]= df.iloc[OFFSET + 46].dup_candidates
# Completado manual Ivan
revised[53]=
revised[54]=
revised[55]=
revised[56]=
revised[59]=
revised[60]=
revised[61]=
revised[62]=
revised[63]=
revised[66]=
revised[67]=
revised[70]=
revised[71]=
revised[73]=
revised[75]=
revised[76]=
revised[80]=
revised[81]=
revised[82]=
revised[86]=
revised[87]=
revised[88]=
revised[89]=
revised[92]=
revised[93]=
revised[95]=
revised[96]=
revised[97]=
revised[98]=

In [22]:
candidates = [int(x) for x in df.iloc[1003].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices
# muestra las descripciones de cada aviso junto con sus indidces...

,_validation,address,advertiser_id,advertiser_name,age,bath_amnt,bed_amnt,bed_ratio,covered_ratio,covered_surface,...,toilet_amnt,total_ratio,total_surface,total_surface_unit,transaction,uncovered_surface,uncovered_surface_unit,url,year_built,dup_candidates
1003,,"Leandro N. Alem & 25 de Mayo, Dock Sud, Provin...",1285790463,,,3,,,1714.2857142857142,70,...,,600.0,200,m²,Venta,,,https://api.mercadolibre.com/items/MLA1408943916,,1003 7968
7968,,"Leandro N. Alem & 25 de Mayo, Dock Sud, Provin...",1285790463,,,3,,,928.5714285714286,70,...,,325.0,200,m²,Venta,,,https://api.mercadolibre.com/items/MLA1409594620,,1003 7968

In [ ]:
# codigo para obtener la grilla
candidates = [int(x) for x in df.iloc[OFFSET + i].dup_candidates.split()] # Esto devuelve una lista de indices [990, 1200]
df.loc[candidates] # Esto devuelve las filas de un dataset en esa lista de indices

In [ ]:
# muestra las descripciones de cada aviso junto con sus indidces...
for idx, desc in zip(candidates,df.loc[candidates]['description']):
    print(f' {idx}   ******************')
    print(desc)